*{
    margin:0px;
    padding:0px;
}
.productCard{
    display:flex;
    gap:20px;
    margin-top:50px;
    margin-bottom:60px;
    width:90%;
    height:500px;
    justify-content: center;
    border-radius:10px;
}
.productImgLeft img{
    display:grid;
    width:150px;
    height:150px;
    border-radius:10px;
    margin-left:50px;
    margin-top:70px;
    margin-bottom:20px;
}
.productImg img{
    width:600px;
    height:480px;
    border-radius:10px;
    margin-left:100px;
    margin-top:20px;
    margin-bottom:20px;
}
.productImgRight img{
    display:grid;
    width:150px;
    height:150px;
    border-radius:10px;
    margin-left:90px;
    margin-top:70px;
    margin-bottom:20px;
}
.productDetails {
    text-decoration: underline;
    line-height:40px;
    margin-left:120px;
}
.buttons{
    display:flex;
    gap:20px;
    margin-left:150px;
    margin-top:30px;
}
.sizeSelect{
    width:100px;
    height:30px;
    border-radius:10px;
    text-align: center;
    margin-left:12px;
}
.quantitySelect{
    width:100px;
    height:30px;
    border-radius:10px;
    text-align: center;
    margin-left:25px;
}
.productrelatedImg img{
    width:220px;
    height:150px;
    border-radius:10px;
    margin:40px;
}
.productrelatedImg{
    justify-content:center;
    text-align: center;
    gap:50px;
}