*{
  margin:0;
  padding:0;
  height:auto;
}
.App{
    color: black

}
.App-header{
  background-color: white;
    display:flex;
    justify-content:space-between;
    padding:0px 80px;
    width: auto;
    height: 90px;
}
.overflw{
  overflow: hidden;
  
}
#bbs{
  font-size: 60px;
 text-decoration: none;
 color: black;
 background-color: white;
}
.header2{
  color:black;
  background-color: #808080;
  width: auto;
  height: 60px;
  
}
.header2 ul{
  display:flex;
  text-align: center;
  justify-content: space-evenly;
  padding:0px 190px;
}
.header2 ul li{
  margin-top: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  color:white; 
  list-style-type: none;
  text-decoration: none;
}
 
#foto{
  background-color: white;
    border-radius: 50%;
    position: relative;
    width: 80px;
    height: 80px;
    padding: 10px;
}
  #login{
    font-size:xx-large;
    margin: 10px;
    color: black;
    background-color: white;
  }

